footer {
  padding:30px;
  background: #373C44;
   
  .wrapper {
    @include flex;
    justify-content: center;
    align-items: center;
    span {
      color: #74787E;
      font-family: sans-serif;
      font-size: 17px;
    }
    span:nth-child(2){
      color:$light;
      font-family: sans-serif;
      text-transform:capitalize;
      opacity: 0.5;   
    }
  }
}